* {
  font-family: Arial, Helvetica, sans-serif;
}

#spinner {
  display: none;
}

#nav {
  color: white;
  background-color: #0cc0df;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
}

#nav h2 {
  border: 2px solid white;
  padding: 5px;
  margin: 0px 10px;
}

#container {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  /* border:2px solid rgb(251, 5, 5); */
}

#container #image {
  width: 40%;
  height: auto;
  border: 2px solid rgb(187, 187, 187);
}

#container #data {
  width: 60%;
  height: auto;
  /* padding: 10px; */
  /* border:2px solid rgb(251, 5, 5); */
}

#generate-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* border: 2px solid rgb(212, 212, 212); */
  /* margin-top: 62px; */
}

#generate-form input {
  border: 2px solid rgb(212, 212, 212);
  padding: 5px;
  margin: 5px;
  width: 70%;
  text-align: center;
  color: rgb(137, 137, 137);
  text-align: center;
}
#generate-form select {
  border: 2px solid rgb(212, 212, 212);
  padding: 6px;
  margin: 5px;
  width: 70%;
  text-align: center;
  color: rgb(137, 137, 137);
  text-align: center;
}
#generate-form button {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 70%;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #0cc0df;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* class="max-w-5xl m-auto flex flex-col text-center align-center justify-center mt-20" */
#generated {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  padding-top: 40px;
  /* background-color: #0cc0df; */
}

#generated #spinner {
  display: flex;
  margin-top: 25px;
  margin-bottom: 40px;
  text-align: center;
  /* background-color: #0cc0df; */
}

/*------------------------------------------------------------------ Save Button */
#save-link {
  animation: wiggle 2s linear infinite;
}
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

#save-link {
  background: #ffffff;
  background: linear-gradient(top, #555, #333);
  border: none;
  border-radius: 0 0 0.2em 0.2em;
  color: #fff;
  /* font-family: Helvetica, Arial, Sans-serif; */
  font-size: 1em;
  transform-origin: 50% 5em;

  border-radius: 5px;
  width: 50%;
  padding: 5px;
  margin: auto;
  margin-top: 5px;
  text-align: center;
  color: #0cc0df;
  background-color: #ffffff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* ------------------------------------------------------------------------Truck */
#truck-container { 
    background: #0cc0df;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.loop-wrapper {
    margin: 0 auto;
    position: relative;
    display: block;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-bottom: 3px solid #fff;
    color: #fff;
  }
  .mountain {
    position: absolute;
    right: -900px;
    bottom: -20px;
    width: 2px;
    height: 2px;
    box-shadow: 
      0 0 0 50px  #0cc0df,
      60px 50px 0 70px  #0cc0df,
      90px 90px 0 50px  #0cc0df,
      250px 250px 0 50px #0cc0df,
      290px 320px 0 50px #0cc0df,
      320px 400px 0 50px  #0cc0df
      ;
    transform: rotate(130deg);
    animation: mtn 20s linear infinite;
  }
  .hill {
    position: absolute;
    right: -900px;
    bottom: -50px;
    width: 400px;
    border-radius: 50%;
    height: 20px;
    box-shadow: 
      0 0 0 50px  #0cc0df,
      -20px 0 0 20px  #0cc0df,
      -90px 0 0 50px  #0cc0df,
      250px 0 0 50px #0cc0df,
      290px 0 0 50px  #0cc0df,
      620px 0 0 50px  #0cc0df;
    animation: hill 4s 2s linear infinite;
  }
  .tree, .tree:nth-child(2), .tree:nth-child(3) {
    position: absolute;
    height: 100px; 
    width: 35px;
    bottom: 0;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/tree.svg) no-repeat;
  }
  .rock {
    margin-top: -17%;
    height: 2%; 
    width: 2%;
    bottom: -2px;
    border-radius: 20px;
    position: absolute;
    background: #0cc0df;
  }
  .truck, .wheels {
    transition: all ease;
    width: 85px;
    margin-right: -60px;
    bottom: 0px;
    right: 50%;
    position: absolute;
    background: #0cc0df;
  }
  .truck {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/truck.svg) no-repeat;
    background-size: contain;
    height: 60px;
    /* background-color: rgb(135, 135, 135); */
  }
  .truck:before {
    content: " ";
    position: absolute;
    width: 25px;
    box-shadow:
      -30px 28px 0 1.5px #0cc0df,
       -35px 18px 0 1.5px  #0cc0df;
  }
  .wheels {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/wheels.svg) no-repeat;
    height: 15px;
    margin-bottom: 0;
  }
  
  .tree  { animation: tree 3s 0.000s linear infinite; }
  .tree:nth-child(2)  { animation: tree2 2s 0.150s linear infinite; }
  .tree:nth-child(3)  { animation: tree3 8s 0.050s linear infinite; }
  .rock  { animation: rock 4s   -0.530s linear infinite; }
  .truck  { animation: truck 4s   0.080s ease infinite; }
  .wheels  { animation: truck 4s   0.001s ease infinite; }
  .truck:before { animation: wind 1.5s   0.000s ease infinite; }
  
  
  @keyframes tree {
    0%   { transform: translate(1350px); }
    50% {}
    100% { transform: translate(-50px); }
  }
  @keyframes tree2 {
    0%   { transform: translate(650px); }
    50% {}
    100% { transform: translate(-50px); }
  }
  @keyframes tree3 {
    0%   { transform: translate(2750px); }
    50% {}
    100% { transform: translate(-50px); }
  }
  
  @keyframes rock {
    0%   { right: -200px; }
    100% { right: 2000px; }
  }
  @keyframes truck {
    0%   { }
    6%   { transform: translateY(0px); }
    7%   { transform: translateY(-6px); }
    9%   { transform: translateY(0px); }
    10%   { transform: translateY(-1px); }
    11%   { transform: translateY(0px); }
    100%   { }
  }
  @keyframes wind {
    0%   {  }
    50%   { transform: translateY(3px) }
    100%   { }
  }
  @keyframes mtn {
    100% {
      transform: translateX(-2000px) rotate(130deg);
    }
  }
  @keyframes hill {
    100% {
      transform: translateX(-2000px);
    }
  }