.active{
    display: none;
}
#logout{
    display: none;
}
.active_log{
    display: block;
    border: 1px solid red;
}

body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 0px solid gray;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #0cc0df;
}
#signin{
    background-color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    font-size: 15px;
    border: 1px solid #0cc0df ;
    font-weight: 500;
    

}
#signin:hover{
cursor: pointer;
color:  #0cc0df;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#signup{
    background-color: #0cc0df;
    border: 0px;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    font-size: 15px;
    color: white;
    font-weight: 500;
}
#signup:hover{
    cursor: pointer;
    background-color: #0cc0df;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border:1px solid white;
}

#navbar p:hover{
    cursor: pointer;
    text-decoration: line-through;
    /* font-weight: 700; */
    color:#ffffff;
}

#nav-left{
    display: flex;
    border: 0px solid red;
    width: 60%;
    color: white;
}

#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 40%;
}

#logo img{
    border-radius: 10px;
    margin-right: 20px;
    
}
#menu{
    display: flex;
    justify-content: space-around;
    border: 0px solid blue;
    width: 80%;
    align-items: center;
    

}
#menu p{
    font-family: sans-serif;

    font-weight:500;
}

#div1{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    border: 0px solid red;
    align-items: center;
    justify-content: space-around;
}
#div1 h1{
    color: #242424;
    
    font-weight: 800;
    font-size: 55px;
}
#div1 p{
    color: #242424;
    font-weight: 400;
    font-size: 18px;
    line-height:30px;
    
}
#d1r{
    width: 45%;
    border: 0px solid red;
}
#d1r img{
    width: 100%;
}
#d1l{
   width: 45%;
   border: 0px solid red;
   

}
#d1l button{
    margin-top: 30px;
    background-color:#0cc0df ;
    padding: 15px;
    border: 0px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 800;
    color: white;
}

#d1l button:hover{
    cursor: pointer;
    background-color:#00d8fe ;
}

#div2{
    border: 0px solid red;
    
    margin-top: 50px;
    
    padding-top: 60px;
    padding-bottom: 120px;
    background: linear-gradient(to right,#897ef7,#c168e6,#f651d5 );
    
}
.s1{
    width: 100%;
    
}

#div2 h2{
    text-align: center;
    color: white;
    font-size: 36px;
    font-weight: 800;
    line-height: 45px;
}
#process{
    display: flex;
    width:70%;
    margin: auto;
    /* border: 0px solid blue; */
    gap: 20px;
}

#process div{
   display: flex;
   /* border: 0px solid green; */
   padding-left: 10px;
   padding-right: 10px;
   width: 30%;
   align-items: center;
   background-color: white;
   border-radius: 15px;
}
#process div span i{
    font-size: 40px;
    margin:20px;
}
#process h3{
    font-family: sans-serif;
    color: #242424;
    font-size: 22px;
    line-height: 26px;
    font-weight: 800;
}
#process p{
    color: #242424;
    line-height: 21px;
    font-family: sans-serif;
}
/* #img{
    width: 50%;
    margin-top: 20px;
    margin-right: 0px;
    padding-right: 0px;
} */
.img1{
    width: 50%;
    margin-top: 20px;
    margin-right: 0px;
    padding-right: 0px;
}
#process span{
    margin-right: 0px;
}

#div3{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    
    margin-top: 50px;
    border: 0px solid red;
    align-items: center;
    justify-content: space-around;
    
}

#d3l{
    width: 45%;
}

#d3l img{
    width: 100%;
}

#d3r{
    width: 40%;
}
#d3r h1{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 46px;
    line-height: 49px;
    color: #242424;
}
#d3r p{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #242424;
}
#d3r button{
    margin-top: 30px;
    background-color:#0cc0df ;
    padding: 15px;
    border: 0px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 800;
    color: white;
}
#d3r button:hover{
    cursor: pointer;
    background-color:#00d9ff ;
}

#div4{
    text-align: center;
    border: 0px solid red;
    margin-top: 50px;

    
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #5c5ce0;
    font-family: sans-serif;
}
#div4 h2{
    color: white;
    font-size: 36px;
    line-height: 45px;
    font-weight: 800;
}
#div4 button{
  background-color: white;
  border: 0px;
  border-radius: 30px;
  padding: 10px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  font-family: sans-serif;
}
#div4 button:hover{
    cursor: pointer;
    color: #242424;
}
#div5{

margin-top: 100px;
margin-bottom: 70px;

}
#div5 h2{
    font-family: sans-serif;
    font-size: 45px;
  line-height: 56px;
  font-weight: 800;
  text-align: center;
}

#div6{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    gap: 20px;
    
    margin-top: 50px;
    border: 0.1px solid #9e9898;
    align-items: center;
    height: 350px;
    border-radius: 15px;
    margin-bottom: 100px;
    
}
#d6l img{
    width: 100%;
    height: 355px;
    margin-bottom: 0px;
    border-radius: 15px;
    
}

#d6l{
    width: 45%;
    border:0px solid red;
    margin-bottom: 0px;
    
}

#d6r{
    width: 45%;
    border:0px solid green
}

#d6r h2{
    font-family: sans-serif;
    font-size: 36px;
  line-height: 45px;
  font-weight: 800;
}
#d6r p{
    font-family: sans-serif;
    font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}

#d6r button{
    font-family: sans-serif;
    font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  background-color: #0cc0df;
  color: white;
  border-radius: 20px;
  border: 0px;
  padding: 10px;
}

#d6r button:hover{
    cursor: pointer;
    background-color: #00d9ff;
}

#footer{
    background-color: #fafafa;
    
}

#ftop{
    display: flex;
    justify-content: space-around;
    
    gap: 30px;
    border: 0px solid red;
}
#ftop h2{
    font-family: sans-serif;
    font-size: 16px;
  line-height: 14px;
  font-weight: 600;
  color: #242424;
}

#ftop p a{
    text-decoration: none;
    color: #242424;
    font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}
#ftop p a:hover{
    color: #625f5f;
}

#fbot div{
    display: flex;
    justify-content:space-between ;
    gap: 20px;
    margin: auto;
    text-align: center;
    border: 0px solid red;
    width: 50%;
    font-family: sans-serif;
    color: #242424;
    font-size: 14px;
}

@media screen and (max-width:750px){

    #navbar{
        flex-direction: column;
    }

    #nav-left{
        flex-direction: column;
        width: 100%;
        margin-left: 80%;
    }

    #menu{
        display: none;
    }
    #logo{
        flex-direction: column;
    }
    #logo img{
        width: 50%;
    }

    #div1{
        flex-direction: column;
        width: 80%;
        border: 0px solid red;
    }
    #d1l{
        width: 100%;
    }
    #d1r{
        width: 100%;
    }


    #div2{
        flex-direction: column;
    }

    #process{
        flex-direction: column;
    }

    #process div{
        width: 100%;
    }

    #div3{
        flex-direction: column;

    }

    #d3l{
        width: 100%;
    }
    #d3r{
        width: 100%;
    }

    #div6{
        flex-direction: column;
        height: auto;
        padding-bottom: 50px;
    }

    #d6l{
        width: 100%;
    }

    #d6r{
        width: 80%;
    }

    #footer{
        flex-direction: column;
        text-align: center;
    }

    #ftop{
        flex-direction: column;
        text-align: center;
    }

    #ftop p{
        display: none;

    }
    #ftop div{
        margin: 0px;
    }

    #fbot div{
        flex-direction: column;
    }



    
    
}