body{
    margin: 0px;
    background-image: url("../Images/QRCODE.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    ;
}

#main{
    width: 30%;    
    background-color: white;
    margin: auto;
    margin-top: 200px;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}

#main img{
    width: 10%;
    border-radius: 15px;
}

.form input{

    margin-bottom: 20px;
    padding: 10px;

}

#submit{
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#submit:hover{

    background-color: #8a8484;
    cursor: pointer;
}