body{
    margin: 0;
    background-image: url("../Images/QRCODE.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#main{
    margin-top:-20px;
    width: 70%;
    height:70%;
    background: linear-gradient(to bottom,#0cc0df, #0cc0df, #ffffff);
    margin: auto;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}

#main img{
    width: 10%;
    /* border-radius: 5px; */
}
#form{
    border:2px solid transparent;
    margin-top: 4%;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#left{
    width:45% ;
    
}
#left button{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    align-items: center;
    color: #242424;
    font-family: sans-serif;
    font-weight: 500;
    border:1px solid rgb(255, 255, 255);
}

#left button:hover{
    cursor: pointer;
}

#left button img{
    width: 10%;
}

#right input{
    margin-bottom: 20px;
    padding: 10px;
    width: 70%;
    border-radius: 10px;
    font-family: sans-serif;
    border:1px solid rgb(255, 255, 255);

}
#submit{
    border-radius: 10px;
    font-weight: 500;
}

#submit:hover{
    color:white;
    background-color:#0cc0df;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#line{
    margin-left:10px;
    width: 1.5px;
    height: auto;
    background-color: #7e7979;
}

@media all and (min-width:1300px) and (max-width:2000px){
    #main{
        width: 40%;
        background-color: white;
        margin: auto;
        margin-top: 100px;
        border-radius: 20px;
        text-align: center;
        padding: 20px;
    }
}


@media all and (min-width:900px) and (max-width:1300px){
    #main{
        width: 50%;
        background-color: white;
        margin: auto;
        margin-top: 100px;
        border-radius: 20px;
        text-align: center;
        padding: 20px;
    }
}

@media all and (min-width:500px) and (max-width:970px){
    #main{
        width: 70%;
        background-color: white;
        margin: auto;
        margin-top: 100px;
        border-radius: 20px;
        text-align: center;
        padding: 20px;
    }
}